body {
  background-color: rgb(241, 241, 241);
}

.spacing {
  padding: 20px 0;
}

.instructions {
  text-align: center;
  margin: 0 auto;
  width: 85%;
}

.timer {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: rgb(209, 0, 0);
}

.word {
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: darkblue;
}

.card-header {
  background-color: rgb(208, 208, 253);
}

.action-buttons {
  text-align: center;
}

.center {
  text-align: center;
  margin: auto;
}

.hidden {
  visibility: hidden;
}
